In [4]:
import pandas as pd

In [5]:
data_path="C:\\Users\\junaj\\Desktop\\CursoDataScience\\notebooks\\data\\"
instrument="AAPL"
data_frame = pd.read_csv(data_path+instrument+'.csv', names=['Date','Open','High','Low','Close','Adj Close','Volume'], index_col=0, parse_dates=True)

In [6]:
#Is there anything wrong with the data?
#https://www.google.es/search?q=apple+price+stock&source=lnms&tbm=fin&sa=X&ved=0ahUKEwix8_fJjLfbAhXEXhQKHS1CAtcQ_AUICigB&biw=1366&bih=613#scso=uid_E6oTW9S1IcTkUtfjvVg_5:0
data_frame.head(10)

                 Open       High        Low      Close  Adj Close     Volume
Date
Date             Open       High        Low      Close  Adj Close     Volume
2012-09-04  95.108574  96.448570  94.928574  96.424286  87.121140   91973000
2012-09-05  96.510002  96.621429  95.657143  95.747147  86.509338   84093800
2012-09-06  96.167145  96.898575  95.828575  96.610001  87.288956   97799100
2012-09-07  96.864288  97.497147  96.538574  97.205711  87.827171   82416600
2012-09-10  97.207146  97.612854  94.585716  94.677139  85.542564  121999500
2012-09-11  95.015717  95.728569  93.785713  94.370003  85.265068  125995800
2012-09-12  95.264282  95.699997  93.714287  95.684288  86.452538  178058300
2012-09-13  96.767143  97.928574  96.395714  97.568573  88.155037  149590000
2012-09-14  98.565712  99.568573  98.269997  98.754288  89.226341  150118500

In [7]:
data_frame.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-08-21,157.500000,157.889999,155.110001,157.210007,157.210007,26368500
2017-08-22,158.229996,160.000000,158.020004,159.779999,159.779999,21604600
2017-08-23,159.070007,160.470001,158.880005,159.979996,159.979996,19399100
2017-08-24,160.429993,160.740005,158.550003,159.270004,159.270004,19818900
2017-08-25,159.649994,160.559998,159.270004,159.860001,159.860001,25480100
2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000
2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900
2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600
2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100
2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16552800

In [8]:
#We can tell pandas to automatically identify missing values
data_frame = pd.read_csv(data_path+instrument+'.csv', names=['Date','Open','High','Low','Close','Adj Close','Volume'], 
                         index_col=0, parse_dates=True,na_values=['NA'],skiprows=1, header=None)

In [9]:
data_frame.head(10)

                 Open       High        Low      Close  Adj Close     Volume
Date
2012-09-04  95.108574  96.448570  94.928574  96.424286  87.121140   91973000
2012-09-05  96.510002  96.621429  95.657143  95.747147  86.509338   84093800
2012-09-06  96.167145  96.898575  95.828575  96.610001  87.288956   97799100
2012-09-07  96.864288  97.497147  96.538574  97.205711  87.827171   82416600
2012-09-10  97.207146  97.612854  94.585716  94.677139  85.542564  121999500
2012-09-11  95.015717  95.728569  93.785713  94.370003  85.265068  125995800
2012-09-12  95.264282  95.699997  93.714287  95.684288  86.452538  178058300
2012-09-13  96.767143  97.928574  96.395714  97.568573  88.155037  149590000
2012-09-14  98.565712  99.568573  98.269997  98.754288  89.226341  150118500
2012-09-17  99.907143  99.971428  99.230003  99.968575  90.323479   99507800

In [10]:
#look at the distribution of our data (especially the outliers)
data_frame.describe(include='all')
#useful values from this table? adj close <<<<<< Close-> reason?

,Open,High,Low,Close,Adj Close,Volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03
mean,101.852447,102.712367,100.941686,101.838638,97.588172,6.389123e+07
std,25.736409,25.848582,25.623353,25.767121,26.981921,4.399385e+07
min,55.424286,57.085712,55.014286,55.790001,50.932652,1.147590e+07
25%,77.946430,78.596071,76.968212,77.706429,72.252803,3.318375e+07
50%,101.415001,102.314999,100.560001,101.465000,97.495941,5.100075e+07
75%,117.925001,119.152498,116.857500,118.180002,114.862888,7.987358e+07
max,164.800003,164.940002,163.630005,164.050003,164.050003,3.652131e+08

In [11]:

def autoclean(input_dataframe, drop_nans=False, copy=False, encoder=None,
              encoder_kwargs=None):
    """Performs a series of automated data cleaning transformations on the provided data set
    Parameters
    ----------
    input_dataframe: pandas.DataFrame
        Data set to clean
    drop_nans: bool
        Drop all rows that have a NaN in any column (default: False)
    copy: bool
        Make a copy of the data set (default: False)
    encoder: category_encoders transformer
        The a valid category_encoders transformer which is passed an inferred cols list. Default (None: LabelEncoder)
    encoder_kwargs: category_encoders
        The a valid sklearn transformer to encode categorical features. Default (None)
    
    Returns
    ----------
    output_dataframe: pandas.DataFrame
        Cleaned data set
    """
    

    

    if copy:
        input_dataframe = input_dataframe.copy()

    if drop_nans:
        input_dataframe.dropna(inplace=True)

    if encoder_kwargs is None:
        encoder_kwargs = {}

    for column in input_dataframe.columns.values:
        # Replace NaNs with the median or mode of the column depending on the column type
        try:
            input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)
        except TypeError:
            most_frequent = input_dataframe[column].mode()
            # If the mode can't be computed, use the nearest valid value
            # See https://github.com/rhiever/datacleaner/issues/8
            if len(most_frequent) > 0:
                input_dataframe[column].fillna(input_dataframe[column].mode()[0], inplace=True)
            else:
                input_dataframe[column].fillna(method='bfill', inplace=True)
                input_dataframe[column].fillna(method='ffill', inplace=True)


        # Encode all strings with numerical equivalents
        if str(input_dataframe[column].values.dtype) == 'object':
            if encoder is not None:
                column_encoder = encoder(**encoder_kwargs).fit(input_dataframe[column].values)
            else:
                column_encoder = LabelEncoder().fit(input_dataframe[column].values)

            input_dataframe[column] = column_encoder.transform(input_dataframe[column].values)

    return input_dataframe

In [12]:
my_clean_data = autoclean(data_frame)

In [13]:
my_clean_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000
2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800
2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100
2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600
2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500
2012-09-11,95.015717,95.728569,93.785713,94.370003,85.265068,125995800
2012-09-12,95.264282,95.699997,93.714287,95.684288,86.452538,178058300
2012-09-13,96.767143,97.928574,96.395714,97.568573,88.155037,149590000
2012-09-14,98.565712,99.568573,98.269997,98.754288,89.226341,150118500
2012-09-17,99.907143,99.971428,99.230003,99.968575,90.323479,99507800
2012-09-18,99.982857,100.332855,99.488571,100.272858,90.598404,93375800
2012-09-19,100.037140,100.570000,99.938568,100.300003,90.622932,81718700
2012-09-20,99.879997,100.008568,99.088570,99.814285,90.184090,84142100
2012-09-21,100.344284,100.724289,99.908569,100.012856,90.363457,142897300
2012-09-24,98.122856,99.302856,97.571426,98.684288,89.163078,159941600
2012-09-25,98.322861,98.968575,96.142860,96.220001,86.936554,129697400
2012-09-26,95.534286,96.098572,94.457146,95.025711,85.857506,144125800
2012-09-27,94.898575,97.452858,94.335716,97.331429,87.940750,148522500
2012-09-28,96.964287,97.301430,95.250000,95.300003,86.105347,133777700
2012-10-01,95.879997,96.678574,93.785713,94.198570,85.110161,135898700
2012-10-02,94.544289,95.192856,92.949997,94.472855,85.358002,156998100
2012-10-03,94.980003,95.980003,94.661430,95.921425,86.666817,106070300
2012-10-04,95.892860,96.321426,95.078575,95.257141,86.066612,92681400
2012-10-05,95.028572,95.142860,93.040001,93.227142,84.232460,148501500
2012-10-08,92.411430,92.508568,90.872856,91.167145,82.371223,159498500
2012-10-09,91.235718,91.498573,89.078575,90.835716,82.071747,209649300
2012-10-10,91.391426,92.139999,91.000000,91.558571,82.724876,127589000
2012-10-11,92.357140,92.457146,89.728569,89.728569,81.071426,136520300
2012-10-12,89.937141,90.768570,89.328575,89.958572,81.279243,115003700
2012-10-15,90.335716,90.732857,89.121429,90.680000,81.931084,108125500
...,...,...,...,...,...,...
2017-07-24,150.580002,152.440002,149.899994,152.089996,151.495071,21493200
2017-07-25,151.800003,153.839996,151.800003,152.740005,152.142548,18853900
2017-07-26,153.350006,153.929993,153.059998,153.460007,152.859726,15781000
2017-07-27,153.750000,153.990005,147.300003,150.559998,149.971069,32476300
2017-07-28,149.889999,150.229996,149.190002,149.500000,148.915207,17213700
2017-07-31,149.899994,150.330002,148.130005,148.729996,148.148224,19845900
2017-08-01,149.100006,150.220001,148.410004,150.050003,149.463058,35368600
2017-08-02,159.279999,159.750000,156.160004,157.139999,156.525330,69936800
2017-08-03,157.050003,157.210007,155.020004,155.570007,154.961472,27097300
2017-08-04,156.070007,157.399994,155.690002,156.389999,155.778259,20559900
2017-08-07,157.059998,158.919998,156.669998,158.809998,158.188797,21870300
2017-08-08,158.600006,161.830002,158.270004,160.080002,159.453827,36205900
2017-08-09,159.259995,161.270004,159.110001,161.059998,160.429993,26131500
2017-08-10,159.899994,160.000000,154.630005,155.320007,155.320007,40804300
2017-08-11,156.600006,158.570007,156.070007,157.479996,157.479996,26257100
2017-08-14,159.320007,160.210007,158.750000,159.850006,159.850006,22028200
2017-08-15,160.660004,162.199997,160.139999,161.600006,161.600006,29465500
2017-08-16,161.940002,162.509995,160.149994,160.949997,160.949997,27671600
2017-08-17,160.520004,160.710007,157.839996,157.860001,157.860001,27940600
2017-08-18,157.860001,159.500000,156.720001,157.500000,157.500000,27428100
2017-08-21,157.500000,157.889999,155.110001,157.210007,157.210007,26368500
2017-08-22,158.229996,160.000000,158.020004,159.779999,159.779999,21604600
2017-08-23,159.070007,160.470001,158.880005,159.979996,159.979996,19399100
2017-08-24,160.429993,160.740005,158.550003,159.270004,159.270004,19818900
2017-08-25,159.649994,160.559998,159.270004,159.860001,159.860001,25480100
2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000
2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900
2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600
2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100
2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16552800